body{
	position: relative;
}
header{
	height: 140vh;
	padding-top: 20vh;
	padding-left: 20vh;
	background-image: url("../img/guts.png");
	background-attachment:local;

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
header span{
	display: block;
	
	color:#1A9C58;
}
h1{
	margin-bottom: 5%;	
}
header .vert{
	display: inline-block;
	color: red;
}
#connaissance{
	background-image: url("../img/dragon.jpg");
	height:140vh;
	background-attachment: fixed;
	padding-top :50vh;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#logo{
	position: absolute;
	height: 80vh;
	top:100vh;
	background-color: black;
	width: 60%;
	right:20%; 

}

#logo span{
	font-size: 12vh;
	display: block;
	height: 20vh;
	width: 20%;
	border-radius: 50%;
	box-shadow: 4px 1px 1px green;
	margin: 0 auto;
	margin-top: 5vh;
	margin-bottom: 5vh;

}
#logo p{
	font-size: 2.5vh;
	margin-bottom: 5vh;
	padding: 0 15%
}
#bande{
	margin-top: 10vh;
}
#bande div{
	color: red;
	display: flex;
	justify-content: center;
	margin-bottom: 2vh;
	align-items: center;
}
#bande div div{
	width:20%;
	height: 1.5vh;
	background-color: green;
	margin-top: 2.5vw;
}
#bande div span:first-child{
	display: block;
	width: 20%; 
	height: 2vh;
	font-size: calc( 1vw + 2vmin);
	text-align: right;
	margin-right: 3%;
}
#bande div span:last-child{
	display: block; 
	height: 2vh;
	margin-left: 3%;	
	font-size: calc( 1vw + 2vmin);
}
#portfolio{
	background-image: url("../img/num.jpg");
	background-size: cover;
	text-align: center;
}
#portfolio div img{
	width:20vw;
	height:20vw;
	margin-top: 10vh;
}

@media only screen and ( max-width:800px ){
	#logo{
		width: 100%;
		right:0;
	}
	header{
		padding-left: 5vh;
	}
	#portfolio{
		text-align: left;
		padding-left: 10%;
	}
	#portfolio a{
		display: block;
	}
	#portfolio a img{
		width:80%;
	}
	#portfolio div{
		padding-bottom: 10vh;
	}
}